Django==5.2.17
djangorestframework==3.18.1
django-filter==26.2
drf-yasg==1.21.17
django-allauth==65.19.7
dj-rest-auth==7.2.0
celery[redis]==5.6.3
redis==6.4.0
gunicorn==26.2.0
whitenoise==6.12.0
psycopg2-binary==2.9.13
dj-database-url==3.1.2
Markdown==3.11
requests==2.34.2
PyJWT==2.15.1
cryptography==50.0.2
