asgiref==3.7.2
cffi==1.16.0
cryptography==41.0.4
Django==4.2.6
django-filter==23.3
django-rest-knox==4.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
inflection==0.5.1
Markdown==3.5
packaging==23.2
psycopg2-binary==2.9.9
pycparser==2.21
pytz==2023.3.post1
PyYAML==6.0.1
sqlparse==0.4.4
uritemplate==4.1.1
