{% extends "simulator/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'simulator/style.css' %}">

<h1> Overview DroneDynamics </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Drone</th>
        <th>Speed</th>
        <th>Alignment Roll</th>
        <th>Control Range</th>
        <th>Alignment Yaw</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Battery Status</th>
        <th>Last Seen</th>
        <th>Status</th>
    </tr>
    {% for dyn in page_obj %}
    <tr>
        <td>{{dyn.id}}</td>
        <td>{{dyn.timestamp}}</td>
        <td>{{dyn.drone}}</td>
        <td>{{dyn.speed}}</td>
        <td>{{dyn.align_roll}}</td>
        <td>{{dyn.align_pitch}}</td>
        <td>{{dyn.align_yaw}}</td>
        <td>{{dyn.longitude}}</td>
        <td>{{dyn.latitude}}</td>
        <td>{{dyn.battery_status}}</td>
        <td>{{dyn.last_seen}}</td>
        <td>{{dyn.status}}</td>
    </tr>
    {% empty %}
    <tr>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
        <td>not available</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
